<template>
    <div>
        <v-toolbar
                :clipped-left="$vuetify.breakpoint.lgAndUp"
                color="blue darken-3"
                dark
                app
                fixed>
            <v-toolbar-title style="width: 300px" class="ml-0 pl-3" @click="reset">
                <span class="hidden-sm-and-down">Netzee blog</span>
            </v-toolbar-title>
            <v-text-field
                    flat
                    solo-inverted
                    hide-details
                    prepend-inner-icon="search"
                    v-model="search"
                    label="Procure o post pelo nome"
                    class="hidden-sm-and-down"
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>person</v-icon>
            </v-btn>
        </v-toolbar>
        <v-content>
            <v-btn outline
                   fab
                   v-if="typeof user.id !== 'undefined'"
                   @click="openNewPostDialog"
                   color="indigo"
                   style="position: fixed; bottom: 25px; right: 25px">
                <v-icon>add</v-icon>
            </v-btn>
            <v-container fluid fill-height>
                <v-layout justify-center align-center>
                    <v-flex sm12 md12 lg6>

                        <section v-for="post in posts">
                            <post :post="post"
                                  context="home"
                                  @edit="edit"
                                  @more="postClick"
                                  @deleted="afterDeletePost"
                            />
                        </section>
                        <v-layout>
                            <v-flex xs12 style="text-align: center">
                                <v-progress-circular
                                        indeterminate
                                        v-if="isShowLoading"
                                        color="primary"
                                ></v-progress-circular>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <v-dialog v-model="dialog" max-height="70vh" max-width="45vw">
            <v-card v-if="action === 'edit' || action === 'creating'">
                <v-text-field
                        v-model="post.title"
                        label="Titulo"
                        required
                ></v-text-field>
                <input type="file" id="file" ref="image" v-on:change="handleFileUpload()"/>
                <v-text-field
                        v-model="post.description"
                        label="Corpo"
                        required
                ></v-text-field>
                <v-autocomplete
                        v-model="post.categories"
                        :items="selects.categories.items"
                        :search-input.sync="selects.categories.search"
                        label="Categorias"
                        item-value="id"
                        item-text="title"
                        chips
                        multiple>
                    <template slot="selection" slot-scope="data">
                        <v-chip :selected="data.selected"
                                close
                                @input="removeCategoryChip(data.item)">
                            {{ data.item.title }}
                        </v-chip>
                    </template>
                </v-autocomplete>

                <v-btn @click="savePost">Salvar</v-btn>
                <v-btn @click="dialog = false">Cancelar</v-btn>
            </v-card>
            <post v-else :post="selectedPost" @close="dialog = false"/>
        </v-dialog>
        <v-snackbar
                v-model="snackbar"
                top
        >
            {{ snackbarText }}
            <v-btn
                    color="pink"
                    flat
                    @click="snackbar = false"
            >
                Fechar
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    import PostService from "../services/PostService";
    import Post from './Post';
    import Categoryervice from "../services/CategoryService";

    export default {
        name: 'Home',
        components: {Post},
        data: () => ({
            posts: [],
            page: 1,
            post: {},
            isShowLoading: false,
            search: '',
            selectedPost: {},
            dialog: false,
            user: {},
            action: 'reading',
            isShowNewPostDialog: false,
            snackbar: false,
            snackbarText: '',
            selects: {
                categories: {
                    items: [],
                    state: '',
                    selecteds: []
                }

            }
        }),
        created() {
            this.user = JSON.parse(JSON.parse(this.$user));
        },
        watch: {
            'selects.categories.search': function (val) {
                this.getCategories(val)
            },

            search: function (val) {
                if (val !== '') {
                    this.getPosts(this.page, {title: val})
                } else {
                    this.getPosts(this.page)
                }

            }
        },
        beforeMount() {
            this.getPosts(this.page);
        },
        mounted() {
            this.scroll();
        },
        methods: {
            async handleFileUpload() {
                const file = this.$refs.image.files[0];
                let formData = new FormData();
                formData.append('image', file);
                const res = await PostService.uploadImage(formData);
                this.post.image = res.data.image;
            },
            removeCategoryChip(item) {
                this.post.categories.splice(this.post.categories.indexOf(item), 1);
            },
            async getCategories(val) {
                const res = await Categoryervice.getCategories({title: val, page: 1});
                this.selects.categories.items = res.data.data;
            },
            openNewPostDialog() {
                this.dialog = true;
                this.action = 'creating';
            },
            afterDeletePost(post) {
                this.posts
                    .splice(this.posts.indexOf(post), 1);
            },
            edit(post) {
                this.dialog = true;
                this.action = 'edit';
                this.post = post;
            },
            async savePost() {
                if (typeof this.post.id !== 'undefined') {

                    const res = await PostService.edit({...this.post, user_id: this.user.id});

                    if (res.status === 200) {
                        this.snackbar = true;
                        this.snackbarText = 'Post editado com sucesso';
                        const p = this.posts.filter(item => item.id === this.post.id)[0];
                        this.posts.splice(this.posts.indexOf(p), 1, res.data)
                    }
                } else {
                    const res = await PostService.create({...this.post, user_id: this.user.id});
                    if (res.status === 201) {
                        this.snackbar = true;
                        this.snackbarText = 'Post criado com sucesso';
                        this.posts.push(res.data);
                    }
                }
            },
            postClick(post) {
                this.action = 'reading';
                this.dialog = true;
                this.selectedPost = post;
            },
            reset() {
                this.page = 1;
                this.search = '';
            },
            async getPosts(p, filters) {
                this.isShowLoading = true;
                const res = await PostService.getPosts(p, filters);
                if (typeof filters === 'undefined')
                    res.data.data.forEach(item => this.posts.push(item));
                else {
                    this.posts = res.data.data;
                }
                this.isShowLoading = false;
            },
            scroll() {
                window.onscroll = () => {
                    let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
                    if (bottomOfWindow) {
                        if (this.isShowLoading === false && this.search === '') {
                            this.page += 1;
                            this.getPosts(this.page)
                        }
                    }
                };
            }
        }
    }
</script>

<style>

</style>