<template>
    <v-card :class="this.context === 'home' ? 'mt-3': ''">
        <v-img :src="post.image !== null ? post.image : 'http://www.fecomercio-ms.com.br/wp-content/plugins/wp-blog-manager/images/no-image-available.png'"
               aspect-ratio="2.20"
        ></v-img>

        <v-card-title primary-title>
            <v-flex sm12>
                <h3 class="headline mb-0 limit">{{post.title}}</h3>
                <v-divider></v-divider>
                <v-chip v-for="category in post.categories">{{category.title}}</v-chip>
            </v-flex>
            <v-flex sm12 :class="this.context === 'home' ? 'mt-3 limit': 'mt-3'">
                <p style="word-break: break-all;">
                    {{post.description}}
                </p>
            </v-flex>
        </v-card-title>

        <v-card-actions>
            <v-btn flat color="orange" v-if="context === 'home'" @click="handleOpen(post)">Mais</v-btn>
            <v-btn flat color="orange" v-if="context === 'home' && user.id === post.user_id"
                   @click="handleEdit(post)">
                editar
            </v-btn>
            <v-btn flat color="danger" v-if="context === 'home' && user.id === post.user_id"
                   @click="del(post)">
                excluir
            </v-btn>
            <v-btn flat color="orange" v-if="context !== 'home'" @click="handleClose">Fechar</v-btn>

        </v-card-actions>
        <v-snackbar
                v-model="snackbar"
                top
        >
            {{ snackbarText }}
            <v-btn
                    color="pink"
                    flat
                    @click="snackbar = false"
            >
                Fechar
            </v-btn>
        </v-snackbar>
    </v-card>
</template>

<script>
    import PostService from "../services/PostService";

    export default {
        name: "post",
        props: ['post', 'context'],
        data() {
            return {
                dialog: false,
                user: {},
                snackbar:false,
                snackbarText: ''
            }
        },
        created() {
            this.user = JSON.parse(JSON.parse(this.$user));
        },
        methods: {
            async del(post) {
              const res = await PostService.delete(post.id);
              if(res.status === 200) {
                  this.snackbar = true;
                  this.snackbarText = 'Post excluído com sucesso';
                  this.$emit('deleted', post);
              }
            },
            handleOpen(post) {
                this.$emit('more', post);
            },
            handleEdit(post) {
                this.$emit('edit', JSON.parse(JSON.stringify(post)));
            },
            handleClose() {
                this.$emit('close');
            }
        }
    }
</script>

<style scoped>
    .limit {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>