<template>
    <div>
        <span>
            Authenticated layout here
        </span>
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: "authenticated-layout"
    }
</script>

<style scoped>

</style>